@use "../../scss/var" as *;
@use "../../scss/mixins" as *;

.downloadButton {
  cursor: pointer;
  border-radius: 10px;
  padding: 9px 16px 9px 30px;
  font-weight: 500;
  color: $blk-dark;
  border: none;
  background: $grn-light url("/public/icons/ic-file.svg") no-repeat 10px center / 15px 15px;
  transition: all 0.3s ease-in-out;

  &:hover {
    @include hover {
      background-color: $grn-dark;
    }
  }

  &:active {
      box-shadow: 1px 1px 5px $input-border;
  }
}