@use '../../../../app/scss/var' as *;
@use '../../../../app/scss/mixins' as *;

.paginationWrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;

  @include tablet {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

.rangePageWrapper {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;

  @include tablet {
    justify-content: start;
    width: auto;
    gap: 10px;
  }

  @include desktop {
    gap: 16px;
  }
}

.recordLimitWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.recordLimitShowText {
  display: block;
  font-size: 12px;
  color: $grey-text;
}

.recordLimitButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $white;
  font-size: 12px;
  border: 1px solid $input-border;
  border-radius: 8px;
  padding: 6px;
  width: 45px;
  height: 30px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  @include laptop {
    padding: 6px 10px 6px 16px;
    width: 60px;
    height: 36px;
    gap: 8px;
  }

  @include desktop {
    padding: 6px 10px 6px 10px;
    width: 73px;
    height: 36px;
  }

  @include hover {
    &:hover {
      border: 1px solid $gray;
    }
  }

  .recordLimitImg {
    height: 18px;
    width: 18px;
    transition: all 0.3s ease-in-out;

    &.active {
      transform: rotate(-180deg);
    }
  }
}

.recordLimitInner {
  position: relative;
}

.recordLimitList {
  position: absolute;
  right: 0;
  top: 35px;
  padding: 5px;
  width: 100%;
  background: $white;
  border-radius: 8px;
  border: 1px solid $input-border;

  @include laptop {
    top: 40px;
  }

  .recordLimitItem {
    padding: 5px 5px;
    cursor: pointer;

    @include desktop {
      padding: 10px;
      font-weight: 500;
    }

    &:first-child {
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
    }

    &:last-child {
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    @include hover {
      &:hover {
        background: $gray-50-light;
      }
    }
  }
}


.rangePageValue {
  display: block;
  font-size: 12px;
  color: $grey-text;
}

.pagination {
  display: flex;
  gap: 3px;
}

.paginationPrevButton,
.paginationNextButton {
  border: 1px solid $input-border;
  border-radius: 4px;
  padding: 2px 3px;
  margin-right: 5px;
  background: $white;
  flex-shrink: 0;
  width: 20px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;

  &:disabled {
  opacity: 0.6;
}

  @include tablet {
    width: 30px;
  }

  @include laptop {
    border-radius: 8px;
    padding: 6px 10px;
    width: 40px;
    height: 30px;
  }

  @include desktop {
    width: 44px;
    height: 36px;
  }

  @include hover {
    &:hover {
      border: 1px solid $gray;
    }

    &:disabled {
      pointer-events: none;
    }
  }

  .paginationPrevButtonImg {
    transform: rotate(90deg);
  }
}

.paginationNextButton {
  margin-left: 5px;
  margin-right: 0;

  .paginationNextButtonImg {
    transform: rotate(-90deg);
  }
}

.paginationButton {
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 3px 6px;
  color: $gray-dark;
  font-size: 10px;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.1s ease-in-out;

  @include tablet {
    padding: 5px 10px;
  }

  @include laptop {
    border-radius: 8px;
    height: 30px;
    padding: 0 12px;
  }

  @include desktop {
    height: 36px;
    padding: 10px 15px;
    font-size: 12px;
  }

  @include hover {
    &:hover {
      border: 1px solid $gray;
    }
  }

  &.active {
    background: $gray-light;
  }
}