@use '../../scss/var' as *;
@use '../../scss/mixins' as *;

.tableHeader {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 20px;

  @include desktop {
    gap: 24px;
    margin-bottom: 24px;
  }
}

.tableHeaderTop {
  @include tablet {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.tableHeaderTopHeadline {
  font-size: 20px;
  line-height: 1;
  text-align: center;
  color: $gray-dark;
  margin-bottom: 20px;

  @include tablet {
    margin-bottom: 0;
  }

  @include laptop {
    font-size: 24px;
  }

  @include desktop {
    font-size: 32px;
  }
}

.tableHeaderTopAction {
  display: flex;
  align-items: center;
  gap: 10px;

  @include desktop {
    gap: 20px;
  }
}

.tableHeaderBottomAction {
  display: flex;
  flex-direction: column;
  gap: 10px;

  @include laptop {
    flex-direction: row;
  }

  @include desktop {
    gap: 16px;
  }
}

.tableBody {
  margin-bottom: 24px;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  padding: 10px;
  background: $gray-light;
  cursor: pointer;
  user-select: none;
  font-weight: 700;
  font-size: 16px;
  color: $gray;
  text-align: left;

  @include tablet {
    padding: 16px;
  }

  @include desktop {
    padding: 17px;
  }

  &:first-child {
    width: 150px;
  }

  &:last-child {
    width: 300px;
  }

  .tableBodyHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;

    @include laptop {
      font-size: 14px;
    }

    @include desktop {
      font-size: 16px;
    }

    .tableBodyHeaderCheck {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
}

td {
  padding: 10px;
  border-bottom: 1px solid $input-border;
  font-size: 12px;
  font-weight: 500;

  &:last-child {
    vertical-align: top;
  }

  @include laptop {
    padding: 16px;
    font-size: 14px;
  }
}

.tableBodyCheckbox {
  display: flex;
  align-items: center;
  gap: 10px;

  @include tablet {
    justify-content: space-between;
  }

  .tableBodyLabel {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
  }

  .tableBodyChecked {
    display: none;
  }

  .customCheckbox {
    width: 18px;
    height: 18px;
    background: $input-border;
    border-radius: 4px;
    flex-shrink: 0;
    transition: all 0.2s ease;
  }

  .tableBodyChecked:checked + .customCheckbox {
    background: $blk;
  }

  .tableBodyChecked:checked + .customCheckbox::after {
    display: inline-block;
    content: '';
    color: #fff;
    width: 18px;
    height: 18px;
    background: url("/public/icons/ic-checked.svg") no-repeat center center;
  }
}

.tableBodyEducationWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.tableBodyEducation {
  border: 1px solid rgba(14, 14, 16, 0.1);
  border-radius: 8px;
  padding: 4px 6px;
  height: 24px;
}

.highlight {
  background: $yellow;
}




