@font-face {
  font-family: "Gothampro";
  src: url("/src/assets/fonts/gothampro.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Gothampro";
  src: url("/src/assets/fonts/GothamPro-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gothampro";
  src: url("/src/assets/fonts/GothamPro-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("/src/assets/fonts/Manrope-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("/src/assets/fonts/Manrope-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}
*, ::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Gothampro", sans-serif;
  font-size: 14px;
  color: #0e0e10;
  background-color: #f1f4fd;
}

.wrapper-container {
  padding: 30px 10px;
}
@media screen and (min-width: 1024px) {
  .wrapper-container {
    padding: 80px 30px;
  }
}
.wrapper-container .container {
  max-width: 1585px;
  margin: 0 auto;
  padding: 20px 10px;
  background: #fff;
  border-radius: 16px;
}
@media screen and (min-width: 1024px) {
  .wrapper-container .container {
    padding: 24px;
  }
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

input[data-test-id=dp-input] {
  font-family: "Gothampro", sans-serif;
  border-radius: 10px;
  height: 34px;
  border: 1px solid #d3d3de;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-size: 14px;
}
@media screen and (min-width: 1024px) {
  input[data-test-id=dp-input] {
    height: 50px;
  }
}
@media screen and (min-width: 1280px) {
  input[data-test-id=dp-input] {
    height: 56px;
    font-size: 16px;
  }
}
input[data-test-id=dp-input]::-webkit-input-placeholder {
  color: #0e0e10;
  opacity: 1;
  padding-left: 11px;
}
input[data-test-id=dp-input]::-moz-placeholder {
  color: #0e0e10;
  opacity: 1;
  padding-left: 11px;
}
input[data-test-id=dp-input]:-ms-input-placeholder {
  color: #0e0e10;
  opacity: 1;
  padding-left: 11px;
}
input[data-test-id=dp-input]::-ms-input-placeholder {
  color: #0e0e10;
  opacity: 1;
  padding-left: 11px;
}
input[data-test-id=dp-input]::placeholder {
  color: #0e0e10;
  opacity: 1;
  padding-left: 11px;
}
input[data-test-id=dp-input].dp__input_readonly {
  padding-left: 0;
}
@media screen and (min-width: 1280px) {
  input[data-test-id=dp-input].dp__input_readonly {
    padding-left: 15px;
  }
}
@media (hover: hover) and (pointer: fine) {
  input[data-test-id=dp-input]:hover {
    -webkit-box-shadow: 1px 1px 8px #d3d3de;
    box-shadow: 1px 1px 8px #d3d3de;
  }
  input[data-test-id=dp-input]:hover .dp__input:hover:not(.dp__input_focus) {
    border: none !important;
  }
}
input[data-test-id=dp-input]:focus {
  -webkit-box-shadow: 1px 1px 8px #d3d3de;
  box-shadow: 1px 1px 8px #d3d3de;
}

.dp__menu.dp__menu_index.dp__theme_light {
  -webkit-box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  padding: 20px;
  border: 1px solid #d3d3de;
}
.dp__menu .dp__arrow_top {
  -webkit-border-end: 1px solid #d3d3de;
  border-inline-end: 1px solid #d3d3de;
  border-top: 1px solid #d3d3de;
}
.dp__menu .dp__arrow_bottom {
  -webkit-border-end: 1px solid #d3d3de;
  border-inline-end: 1px solid #d3d3de;
  border-bottom: 1px solid #d3d3de;
}
.dp__menu .dp__action_row {
  padding: 0;
}

.my-header {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  line-height: 1.4;
  padding-bottom: 16px;
  margin-bottom: 16px;
  color: #111827;
  border-bottom: 1px solid #d3d3de;
}
@media screen and (min-width: 1280px) {
  .my-header {
    font-size: 20px;
  }
}

.dp__instance_calendar .dp__menu_inner {
  padding: 0;
}

.dp__calendar_header_separator {
  display: none;
}

.dp__btn.dp--arrow-btn-nav[aria-label="Previous month"] {
  padding-left: 0;
}

.dp__btn.dp--arrow-btn-nav[aria-label="Next month"] {
  padding-right: 0;
}

.dp__btn.dp__month_year_select {
  font-family: "Manrope", sans-serif;
  width: 30%;
  font-weight: 600;
  line-height: 1.5;
  font-size: 15px;
  letter-spacing: 0.02em;
  color: #111827;
}
@media screen and (min-width: 1280px) {
  .dp__btn {
    font-size: 16px;
  }
  .dp__btn:first-child {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .dp__btn:last-child {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}

.dp__month_year_wrap {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 15px;
}
@media screen and (min-width: 1280px) {
  .dp__month_year_wrap {
    gap: 1px;
  }
}

.dp__calendar_header_item {
  font-weight: 400;
  font-size: 14px;
  color: #93939b;
  text-transform: uppercase;
}

.dp__cell_inner {
  font-weight: 400;
  font-size: 14px;
  color: #0e0e10;
  border-radius: 0;
}
.dp__cell_inner:hover {
  border-radius: 0;
}
.dp__cell_inner.dp__today {
  border: 1px solid #0e0e10;
  border-radius: 0;
}
.dp__cell_inner.dp__range_start {
  background-color: #33d35e;
  color: #0e0e10;
  border-radius: 0;
}
.dp__cell_inner.dp__range_end {
  background-color: #33d35e;
  color: #0e0e10;
  border-radius: 0;
}
.dp__cell_inner.dp__range_between {
  background-color: #c3fcd2;
  border-radius: 0;
}

.dp__action_row {
  display: inline-block !important;
}

.dp__action_buttons[data-dp-element=action-row] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-margin-start: 0;
  margin-inline-start: 0;
  margin-top: 16px;
  gap: 15px;
}
@media screen and (min-width: 1280px) {
  .dp__action_buttons[data-dp-element=action-row] {
    gap: 20px;
  }
}
.dp__action_buttons[data-dp-element=action-row] .custom {
  cursor: pointer;
  border: 1px solid #55555c;
  border-radius: 10px;
  padding: 10px 8px;
  width: 50%;
  font-size: 15px;
  background: #fff;
  font-weight: 500;
  color: #0e0e10;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media screen and (min-width: 1280px) {
  .dp__action_buttons[data-dp-element=action-row] .custom {
    height: 53px;
    padding: 16px 42px;
    font-size: 16px;
  }
}
.dp__action_buttons[data-dp-element=action-row] .custom.custom-cancel:active {
  background: #f1f4fd;
}
.dp__action_buttons[data-dp-element=action-row] .custom.custom-select {
  background: #0e0e10;
  color: #f1f4fd;
}
@media (hover: hover) and (pointer: fine) {
  .dp__action_buttons[data-dp-element=action-row] .custom.custom-select:hover {
    background: #24c14e;
    border: 1px solid #24c14e;
  }
}
.dp__action_buttons[data-dp-element=action-row] .custom.custom-select:active {
  background: #16b240;
}

.date-range-picker-wrapper {
  position: relative;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .date-range-picker-wrapper {
    width: 33%;
  }
}
.date-range-picker-wrapper .input-slot-image {
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  pointer-events: none;
  width: 16px;
  height: 16px;
}
@media screen and (min-width: 1024px) {
  .date-range-picker-wrapper .input-slot-image {
    width: 20px;
    height: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .date-range-picker-wrapper .input-slot-image {
    width: 24px;
    height: 24px;
    right: 25px;
  }
}

@media screen and (min-width: 1280px) {
  .dp--clear-btn {
    padding-right: 15px !important;
  }
}
.downloadButton {
  cursor: pointer;
  border-radius: 10px;
  padding: 9px 16px 9px 30px;
  font-weight: 500;
  color: #0e0e10;
  border: none;
  background: #33d35e url("/public/icons/ic-file.svg") no-repeat 10px center/15px 15px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media screen and (min-width: 1024px) {
  .downloadButton {
    height: 50px;
    padding: 9px 16px 9px 36px;
    background: #33d35e url("/public/icons/ic-file.svg") no-repeat 10px center/20px 20px;
  }
}
@media screen and (min-width: 1280px) {
  .downloadButton {
    height: 56px;
    width: 147px;
    padding: 16px 24px 16px 56px;
    font-size: 16px;
    background: #33d35e url("/public/icons/ic-file.svg") no-repeat 24px center/24px 24px;
  }
}
@media (hover: hover) and (pointer: fine) {
  .downloadButton:hover {
    background-color: #16b240;
  }
}
.downloadButton:active {
  -webkit-box-shadow: 1px 1px 5px #d3d3de;
  box-shadow: 1px 1px 5px #d3d3de;
}
.paginationWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 10px;
}
@media screen and (min-width: 768px) {
  .paginationWrapper {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

.rangePageWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .rangePageWrapper {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    width: auto;
    gap: 10px;
  }
}
@media screen and (min-width: 1280px) {
  .rangePageWrapper {
    gap: 16px;
  }
}

.recordLimitWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 8px;
}

.recordLimitShowText {
  display: block;
  font-size: 12px;
  color: #687588;
}

.recordLimitButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #fff;
  font-size: 12px;
  border: 1px solid #d3d3de;
  border-radius: 8px;
  padding: 6px;
  width: 45px;
  height: 30px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media screen and (min-width: 1024px) {
  .recordLimitButton {
    padding: 6px 10px 6px 16px;
    width: 60px;
    height: 36px;
    gap: 8px;
  }
}
@media screen and (min-width: 1280px) {
  .recordLimitButton {
    padding: 6px 10px 6px 10px;
    width: 73px;
    height: 36px;
  }
}
@media (hover: hover) and (pointer: fine) {
  .recordLimitButton:hover {
    border: 1px solid #55555c;
  }
}
.recordLimitButton .recordLimitImg {
  height: 18px;
  width: 18px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.recordLimitButton .recordLimitImg.active {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.recordLimitInner {
  position: relative;
}

.recordLimitList {
  position: absolute;
  right: 0;
  top: 35px;
  padding: 5px;
  width: 100%;
  background: #fff;
  border-radius: 8px;
  border: 1px solid #d3d3de;
}
@media screen and (min-width: 1024px) {
  .recordLimitList {
    top: 40px;
  }
}
.recordLimitList .recordLimitItem {
  padding: 5px 5px;
  cursor: pointer;
}
@media screen and (min-width: 1280px) {
  .recordLimitList .recordLimitItem {
    padding: 10px;
    font-weight: 500;
  }
}
.recordLimitList .recordLimitItem:first-child {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.recordLimitList .recordLimitItem:last-child {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
@media (hover: hover) and (pointer: fine) {
  .recordLimitList .recordLimitItem:hover {
    background: #F0F0F0;
  }
}

.rangePageValue {
  display: block;
  font-size: 12px;
  color: #687588;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3px;
}

.paginationPrevButton,
.paginationNextButton {
  border: 1px solid #d3d3de;
  border-radius: 4px;
  padding: 2px 3px;
  margin-right: 5px;
  background: #fff;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 20px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.paginationPrevButton:disabled,
.paginationNextButton:disabled {
  opacity: 0.6;
}
@media screen and (min-width: 768px) {
  .paginationPrevButton,
  .paginationNextButton {
    width: 30px;
  }
}
@media screen and (min-width: 1024px) {
  .paginationPrevButton,
  .paginationNextButton {
    border-radius: 8px;
    padding: 6px 10px;
    width: 40px;
    height: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .paginationPrevButton,
  .paginationNextButton {
    width: 44px;
    height: 36px;
  }
}
@media (hover: hover) and (pointer: fine) {
  .paginationPrevButton:hover,
  .paginationNextButton:hover {
    border: 1px solid #55555c;
  }
  .paginationPrevButton:disabled,
  .paginationNextButton:disabled {
    pointer-events: none;
  }
}
.paginationPrevButton .paginationPrevButtonImg,
.paginationNextButton .paginationPrevButtonImg {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.paginationNextButton {
  margin-left: 5px;
  margin-right: 0;
}
.paginationNextButton .paginationNextButtonImg {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.paginationButton {
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 3px 6px;
  color: #111827;
  font-size: 10px;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
@media screen and (min-width: 768px) {
  .paginationButton {
    padding: 5px 10px;
  }
}
@media screen and (min-width: 1024px) {
  .paginationButton {
    border-radius: 8px;
    height: 30px;
    padding: 0 12px;
  }
}
@media screen and (min-width: 1280px) {
  .paginationButton {
    height: 36px;
    padding: 10px 15px;
    font-size: 12px;
  }
}
@media (hover: hover) and (pointer: fine) {
  .paginationButton:hover {
    border: 1px solid #55555c;
  }
}
.paginationButton.active {
  background: #f0f0f7;
}
.inputSearchWrapper {
  position: relative;
  width: 100%;
}
.inputSearchWrapper .inputSearch {
  height: 10px;
  width: 100%;
  padding: 16px 50px 16px 16px;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #d3d3de;
  -webkit-transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}
@media screen and (min-width: 1024px) {
  .inputSearchWrapper .inputSearch {
    height: 50px;
    font-size: 14px;
  }
}
@media screen and (min-width: 1280px) {
  .inputSearchWrapper .inputSearch {
    width: 300px;
    height: 56px;
    font-size: 16px;
    padding: 17px 58px 17px 24px;
  }
}
.inputSearchWrapper .inputSearch:focus {
  outline: none;
  -webkit-box-shadow: 1px 1px 8px #d3d3de;
  box-shadow: 1px 1px 8px #d3d3de;
}
@media (hover: hover) and (pointer: fine) {
  .inputSearchWrapper .inputSearch:hover {
    -webkit-box-shadow: 1px 1px 8px #d3d3de;
    box-shadow: 1px 1px 8px #d3d3de;
  }
}
.inputSearchWrapper .inputSearch::-webkit-input-placeholder {
  color: #0e0e10;
}
.inputSearchWrapper .inputSearch::-moz-placeholder {
  color: #0e0e10;
}
.inputSearchWrapper .inputSearch:-ms-input-placeholder {
  color: #0e0e10;
}
.inputSearchWrapper .inputSearch::-ms-input-placeholder {
  color: #0e0e10;
}
.inputSearchWrapper .inputSearch::placeholder {
  color: #0e0e10;
}
.inputSearchWrapper .inputSearch:focus::-webkit-input-placeholder {
  color: #55555c;
}
.inputSearchWrapper .inputSearch:focus::-moz-placeholder {
  color: #55555c;
}
.inputSearchWrapper .inputSearch:focus:-ms-input-placeholder {
  color: #55555c;
}
.inputSearchWrapper .inputSearch:focus::-ms-input-placeholder {
  color: #55555c;
}
.inputSearchWrapper .inputSearch:focus::placeholder {
  color: #55555c;
}
.inputSearchWrapper::before {
  content: "";
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 15px;
  width: 15px;
  background: url("/public/icons/ic-search.svg") no-repeat center right/contain;
  z-index: 1;
}
@media screen and (min-width: 1024px) {
  .inputSearchWrapper::before {
    height: 20px;
    width: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .inputSearchWrapper::before {
    height: 24px;
    width: 24px;
    right: 24px;
  }
}
.selectButtonWrapper {
  position: relative;
}
@media screen and (min-width: 1024px) {
  .selectButtonWrapper {
    width: 33%;
  }
}

.selectButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  border: 1px solid #d3d3de;
  border-radius: 10px;
  background: #fff;
  height: 34px;
  padding: 16px 10px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media screen and (min-width: 1024px) {
  .selectButton {
    height: 50px;
  }
}
@media screen and (min-width: 1280px) {
  .selectButton {
    padding: 16px 24px 16px 24px;
    height: 56px;
    font-size: 16px;
  }
}
@media (hover: hover) and (pointer: fine) {
  .selectButton:hover {
    -webkit-box-shadow: 1px 1px 5px #d3d3de;
    box-shadow: 1px 1px 5px #d3d3de;
  }
}
.selectButton:active {
  -webkit-box-shadow: 1px 1px 5px #d3d3de;
  box-shadow: 1px 1px 5px #d3d3de;
}
.selectButton .selectButtonIcon {
  height: 20px;
  width: 20px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media screen and (min-width: 1024px) {
  .selectButton .selectButtonIcon {
    height: 24px;
    width: 24px;
  }
}
.selectButton .selectButtonIcon.active {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.selectList {
  position: absolute;
  border: 1px solid #d3d3de;
  border-radius: 10px;
  margin-top: 5px;
  padding: 5px;
  background: #fff;
  z-index: 9;
  width: 100%;
}
.selectList .selectItem {
  padding: 5px;
  font-weight: 500;
  cursor: pointer;
}
@media screen and (min-width: 1280px) {
  .selectList .selectItem {
    padding: 10px;
    font-size: 16px;
  }
}
@media (hover: hover) and (pointer: fine) {
  .selectList .selectItem:hover {
    background: #F0F0F0;
  }
  .selectList .selectItem:hover:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .selectList .selectItem:hover:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}
.wrapperNotFound {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100vh;
  padding: 0 15px;
}

.containerNotFound {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.containerNotFound .headlineNotFound {
  line-height: normal;
  font-size: 100px;
  color: #E64A4A;
  margin-bottom: 10px;
}
.containerNotFound .descNotFound {
  font-size: 18px;
  text-align: center;
  margin-bottom: 30px;
}
.containerNotFound .linkNotFound {
  text-align: center;
  display: inline-block;
  padding: 12px 20px;
  width: 150px;
  background: #0e0e10;
  border-radius: 10px;
  color: #fff;
}
@media (hover: hover) and (pointer: fine) {
  .containerNotFound .linkNotFound:hover {
    background-color: #1b1b1f;
  }
}
.containerNotFound .linkNotFound:active {
  -webkit-box-shadow: 1px 1px 5px #d3d3de;
  box-shadow: 1px 1px 5px #d3d3de;
}
.tableHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 20px;
}
@media screen and (min-width: 1280px) {
  .tableHeader {
    gap: 24px;
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 768px) {
  .tableHeaderTop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

.tableHeaderTopHeadline {
  font-size: 20px;
  line-height: 1;
  text-align: center;
  color: #111827;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .tableHeaderTopHeadline {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1024px) {
  .tableHeaderTopHeadline {
    font-size: 24px;
  }
}
@media screen and (min-width: 1280px) {
  .tableHeaderTopHeadline {
    font-size: 32px;
  }
}

.tableHeaderTopAction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
}
@media screen and (min-width: 1280px) {
  .tableHeaderTopAction {
    gap: 20px;
  }
}

.tableHeaderBottomAction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 10px;
}
@media screen and (min-width: 1024px) {
  .tableHeaderBottomAction {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}
@media screen and (min-width: 1280px) {
  .tableHeaderBottomAction {
    gap: 16px;
  }
}

.tableBody {
  margin-bottom: 24px;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  padding: 10px;
  background: #f0f0f7;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: 700;
  font-size: 16px;
  color: #55555c;
  text-align: left;
}
@media screen and (min-width: 768px) {
  th {
    padding: 16px;
  }
}
@media screen and (min-width: 1280px) {
  th {
    padding: 17px;
  }
}
th:first-child {
  width: 150px;
}
th:last-child {
  width: 300px;
}
th .tableBodyHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 12px;
}
@media screen and (min-width: 1024px) {
  th .tableBodyHeader {
    font-size: 14px;
  }
}
@media screen and (min-width: 1280px) {
  th .tableBodyHeader {
    font-size: 16px;
  }
}
th .tableBodyHeader .tableBodyHeaderCheck {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
}

td {
  padding: 10px;
  border-bottom: 1px solid #d3d3de;
  font-size: 12px;
  font-weight: 500;
}
td:last-child {
  vertical-align: top;
}
@media screen and (min-width: 1024px) {
  td {
    padding: 16px;
    font-size: 14px;
  }
}

.tableBodyCheckbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
}
@media screen and (min-width: 768px) {
  .tableBodyCheckbox {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
.tableBodyCheckbox .tableBodyLabel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
.tableBodyCheckbox .tableBodyChecked {
  display: none;
}
.tableBodyCheckbox .customCheckbox {
  width: 18px;
  height: 18px;
  background: #d3d3de;
  border-radius: 4px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.tableBodyCheckbox .tableBodyChecked:checked + .customCheckbox {
  background: #1b1b1f;
}
.tableBodyCheckbox .tableBodyChecked:checked + .customCheckbox::after {
  display: inline-block;
  content: "";
  color: #fff;
  width: 18px;
  height: 18px;
  background: url("/public/icons/ic-checked.svg") no-repeat center center;
}

.tableBodyEducationWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 4px;
}

.tableBodyEducation {
  border: 1px solid rgba(14, 14, 16, 0.1);
  border-radius: 8px;
  padding: 4px 6px;
  height: 24px;
}

.highlight {
  background: yellow;
}