@use "var" as *;

*, ::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: 'Gothampro', sans-serif;
  font-size: 14px;
  color: $blk-dark;
  background-color: $bg;
}

.wrapper-container {
  padding: 30px 10px;

  .container {
    max-width: 1585px;
    margin: 0 auto;
    padding: 20px 10px;
    background: $white;
    border-radius: 16px;
  }
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a, {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

p {
  margin: 0;
}