$bg: #f1f4fd;
$blk-dark: #0e0e10;
$blk: #1b1b1f;
$gray-dark: #111827;
$gray: #55555c;
$gray-light: #f0f0f7;
$gray-50-light: #F0F0F0;
$grn-dark: #16b240;
$grn: #24c14e;
$grn-light: #33d35e;
$grn-white: #c3fcd2;
$input-border: #d3d3de;
$white: #fff;
$calendar-week: #93939b;
